# Welcome to Service Management Analytics
## Notebook Learning PYTHON
This tool is called 'Jupyter Notebook' and serves to partially execute the code in an orderly manner.

 There are several hotkeys for which we will make a brief summary: 
* When the block is blue, we can use '**a**' (above) or '**b**' (below) to add a new block where to put code (respectively above or below the current one).
* To select / deselect a block, we can use '**Enter**' or '**Esc**'.
* We can move between blocks with the **UP **, **DOWN** flasks.
* To run the code and not move the block can be done with **CTRL + ENTER**, to run it and move to the next block use **SHIFT + ENTER**.
* To save the notebook can be done with **CTRL + S**.

## Index
* [Some usefull tips](#Some usefull tips)
* [Operations](#Operations)
* [Iterative and conditional cycles](#Iterative and conditional cycles)
* [Inclusive and exclusive conditions (and, or, not)](#Inclusive and exclusive conditions (and, or, not))
* [Imports](#Imports)
* [Handling days](#Handling days)
* [Set Theory in Python](#Set Theory in Python)
    * [Sets](#Sets)
    * [Lists](#Lists)
    * [Dictionaries](#Dictionaries)
* [Defining functions and classes](#Defining functions and classes)
    * [Functions](#Functions)
    * [Classes](#Classes)

Usefull links: 
*    [The Python Standard Library](https://docs.python.org/3/library/) 
*    [codecademy](www.codecademy.com/learn/learn-python)

<a id='Some usefull tips'></a>
## Some usefull tips

* Quotation marks

In [1]:
"Hello world!"

'Hello world!'

In [2]:
print("""Hello
world
!""")

Hello
world
!

* You can comment lines using ** # **. Commented lines do not run.

In [3]:
# Let's add two numbers:
a = 5
b = 12
sum = a + b
# Let's print the result:
print(sum)

17

* Restricted variable name (green color)

In [7]:
print = 2
print(5)

TypeError: 'int' object is not callable

<div class="alert alert-danger" role="alert">
  ** Warning: **  Since we store a value in **variable** called print, the **function** print is broken. Please, restart the notbook and do not run last cell. Then try the next cell
</div>

In [4]:
print(3)

3

<a id='Operations'></a>
## Operations
* Operations can be performed and the results are displayed using the **print()** command.

In [5]:
3 + 2

5

* We can assign values to variables and make calculations with them.

In [6]:
x = 2 ** 3
x *= 2
print('\tValue of x is', x)

	Value of x is 16

<div class="alert alert-info" role="alert">
    **Exercise:** Calculate **x * 2** using operator ** += **.
</div>

* The print function does not allow printing certain symbols as **'**, to do so, we have to put ** \** before the simbol.
* In the print function, **\n** generates a line break in the print and **\t** tab.

In [7]:
x = x * 2 /8
print('Result is', x)

Result is 4.0

In [8]:
print('----\'----/----\\----\'----')

x = x - 10 
y = x + 10
print('x is = {} \ny is = {}'.format(x, y))

----'----/----\----'----
x is = -6.0
y is = 4.0

In [9]:
print("Hello {}, welcome to {}.".format("Nikolina", "BaseTIS"))
print("Hello {name}, welcome to {company}.".format(company="BaseTIS", name="Nikolina"))

Hello Nikolina, welcome to BaseTIS.
Hello Nikolina, welcome to BaseTIS.

* Beside the variable name, in the brackets **{}** we can put expected format also.

In [10]:
print("I work in BaseTIS {days:.2f} days.".format(days=150))

I work in BaseTIS 150.00 days.

<div class="alert alert-info" role="alert">
    **Exercise:** Show on screen, meaning of the **print()** command, 5 to the fourth power.
</div>

* The module operation can become very important. Returns the rest by dividing between two numbers.

In [11]:
x = 10 % 3
print(x)
print(100 % 6)
print('100 module 5 is', 100 % 5)

1
4
100 module 5 is 0

<div class="alert alert-info" role="alert">
    **Exercise:** Calculate 1000 modulo 26 and print the result.
</div>

* You can also do operations with strings or **'words'**.

In [12]:
string1 = 'This is one sentence.'
string2 = string1[0:20]
string3 = string1[:]
string4 = string1[8:11]
string5 = string1[1:]
string6 = string1[-9:]

print(string3)
print(string4)
print(string6)
print(string5 + string6)
print(string4 * 3)

This is one sentence.
one
sentence.
his is one sentence.sentence.
oneoneone

<div class="alert alert-info" role="alert">
    **Exercise:** Print word 'like' from sentence 'I like Python.'
</div>

<a id='Iterative and conditional cycles'></a>
## Iterative and conditional cycles
* Iterations and conditionals without keys or parentheses.

In [13]:
spam = 7
if spam > 5:
    print('five')
if spam > 8:
    print('eight')

five

In [14]:
spam = 7
if spam > 5:
    print('five')
if spam > 8:
    print('eight')
if spam < 10:
    print('ten')

five
ten

In [15]:
num = 7
if num > 3:
    print('3')
    if num < 5:
        print('5')
        if num == 7:
            print('7')

3

In [16]:
if x == 10:
    print('x is 10')
else: 
    print('x is not 10')

x is not 10

In [17]:
if x == 10:
    print('x is 10')
elif x == 30:
    print('x is 30')
else:
    print('x is not 10 nor 30')

x is not 10 nor 30

<div class="alert alert-info" role="alert">
    **Exercise:** Write short code using **if**, **elif** and **else** statements.
</div>

<a id='Inclusive and exclusive conditions (and, or, not)'></a>
## Inclusive and exclusive conditions (and, or, not)
* When more than one condition, parenthesis is needed.

In [18]:
if (x > 0) and (x == 200):
    print('x is 200')
else:
    print('x is not 200 or is negative')
    
print('-------------------')
print('x is', x)

x is not 200 or is negative
-------------------
x is 1

In [19]:
if (x < 0) or (x != 50):
    print('x is not 50 or it\'s negative')
else:
    print('x is 50 or is positive')
    
print('-------------------')
print('x is', x)

x is not 50 or it's negative
-------------------
x is 1

* **for** iterations:

In [20]:
for a in [1, 2, 3, 4]:
    print(a)

1
2
3
4

In [21]:
for a in range(1, 5):
    print(a)

1
2
3
4

In [22]:
my_list = [1, 2, 3, 'word1', 'word2', [1, 2, 3]]
print(len(my_list))

6

<div class="alert alert-info" role="alert">
    **Exercise:** Write short code using **for** statement.
</div>

* ** For ** can run in more than one variable evenly.

In [23]:
for x, y, z in zip(['x0', 'x1', 'x2', 'x3'], ['y0', 'y1', 'y2', 'y3'], ['z0', 'z1', 'z2', 'z3']):
    print("{}\t{}\t{}".format(x, y, z))

x0	y0	z0
x1	y1	z1
x2	y2	z2
x3	y3	z3

* You can generate lists through statement for in the same line.

In [24]:
new_list = ['-10', '17', '20', '12', '15', '-7', '-10']

print([x for x in new_list if int(x) > 0])
print([x if int(x) < 0 else 0 for x in new_list])

['17', '20', '12', '15']
['-10', 0, 0, 0, 0, '-7', '-10']

<div class="alert alert-info" role="alert">
    **Exercise:** Print the list of all even numbers between 1 and 1000.
</div>

<a id='Imports'></a>
## Imports
* Import libraries that have useful functions as they are done in many object-oriented languages.

In [25]:
import pandas as pd
import numpy as np
import math as m  
from datetime import datetime, timedelta, date

In [26]:
from math import *
cos(pi)

-1.0

<div class="alert alert-warning" role="alert">
    **Warning:** importing everything from a module should be avoided since you can broke functions (like in the print example)
</div>

<a id='Handling days'></a>
## Handling days
* We use the libraries that we have imported.

In [27]:
today = date.today()
print(today)

2018-07-05

In [28]:
for fmt in ['%Y-%m-%d', '%Y/%m/%d', '%Y %m %d']:
    print(datetime.strftime(today, fmt))

2018-07-05
2018/07/05
2018 07 05

In [29]:
for my_format in ['%Y-%d', '%m-%d', '%A %d %B %Y']:
    print(datetime.strftime(today, my_format))

2018-05
07-05
Thursday 05 July 2018

In [30]:
[datetime.strftime(today, x) for x in ['%a', '%d', '%B', '%b', '%C', '%Y', '%y']]

['Thu', '05', 'July', 'Jul', '20', '2018', '18']

In [31]:
print(today.day)
print(today.month)
print(today.year)

5
7
2018

<div class="alert alert-info" role="alert">
    **Exercise:** Print curretn date in the format you prefer the most.
</div>
<div class="alert alert-info" role="alert">
    **Exercise:** Print the names of days in week in any order and language. 
</div>

In [32]:
previous_days = today - timedelta(days=100)
print(previous_days)
print('100 days ago it was', datetime.strftime(previous_days, '%A'))

2018-03-27
100 days ago it was Tuesday

<div class="alert alert-info" role="alert">
    **Exercise:** Calculate the day that is gonna be in two years from today.
</div>

In [33]:
print("""Hello,
my name is {name} and I work in {company} last {days:.2f} days.
Regards,
{name} - {date:%B %Y}""".format(name="Nikolina", company="BaseTIS", days=256, date=date.today() ))

Hello,
my name is Nikolina and I work in BaseTIS last 256.00 days.
Regards,
Nikolina - July 2018

<a id='Set Theory in Python'></a>
## Set Theory in Python
* in python exist: sets, lists, tuples and dictionaries
<a id='Sets'></a>

### Sets
* **Set** is a collection which is unordered and unindexed. No duplicate members.
* A set is created by using the function **set()**.

In [34]:
my_set = set([2, 4, 6, 8, 10, 'word1', 'word2'])
set_1 = set([1, 2, 3, 4, 5])
set_2 = set([2, 4, 6, 8, 10])

In [36]:
print(set_1)
print(set_2)
print('-'*20)
print("""Set 'set_1' has lenght {} and set 'set_2' {}.""".format(len(set_1), len(set_2)))

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
--------------------
Set 'set_1' has lenght 5 and set 'set_2' 5.

In [37]:
for i in set_1:
    print(i)
    
print('-'*20)    
print([i for i in set_1])

1
2
3
4
5
--------------------
[1, 2, 3, 4, 5]

In [39]:
print([i for i in set_1 if i >= 3])

print('-----')
print([i if i < 3 else 'Not smaller then 3' for i in set_1])

[3, 4, 5]
-----
[1, 2, 'Not smaller then 3', 'Not smaller then 3', 'Not smaller then 3']

* Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [40]:
print('Intersection:', set_1.intersection(set_2))
print('Difference between a and b:', set_1.difference(set_2))
print('Difference between b and a:', set_2.difference(set_1))

Intersection: {2, 4}
Difference between a and b: {1, 3, 5}
Difference between b and a: {8, 10, 6}

<div class="alert alert-info" role="alert">
    **Exercise:** Make a union with sets of your two favorite days in the week and months in the year  
</div>

<a id='Lists'></a>
### Lists

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* A list is created by using **list()** or **[** **]** brackets.

In [41]:
my_list = list('ABCDEF123')
for elem in my_list:
    print(elem)

A
B
C
D
E
F
1
2
3

In [42]:
my_list.append('Hola')
my_list

['A', 'B', 'C', 'D', 'E', 'F', '1', '2', '3', 'Hola']

In [43]:
del my_list[0]
my_list

['B', 'C', 'D', 'E', 'F', '1', '2', '3', 'Hola']

In [44]:
my_list[0] = 'a'
my_list

['a', 'C', 'D', 'E', 'F', '1', '2', '3', 'Hola']

In [45]:
len(my_list)

9

<div class="alert alert-info" role="alert">
    **Exercise:** Make a lilst with your favorite books, add to the list your favorite songs and sort it.
</div>

<a id='Dictionaries'></a>
### Dictionaries

* **Dictionary** is an element that associates a key with a value.
* A dictionary is created by using **dic()** or **{** **}** brackets.

In [46]:
thisdict = {
  "apple": "green",
  "banana": "yellow",
  "cherry": "red"
}
thisdict

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [47]:
dictionary = {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5}
for key in dictionary.keys():
    print(dictionary[key])

0
1
2
3
4
5

In [48]:
dictionary.keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f'])

In [49]:
dictionary['g'] = 6
print(dictionary)

print('---------')
dictionary.update({'h' : 7})
print(dictionary)

print('---------')
del dictionary['a']
print(dictionary)

print('---------')
print(len(dictionary))

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6}
---------
{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7}
---------
{'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7}
---------
7

<div class="alert alert-info" role="alert">
    **Exercise:** Generate one dictionary and preform three operations on it. 
</div>

<a id='Defining functions and classes'></a>
## Defining functions and classes

<a id='Functions'></a>
### Functions

* A **function** is a block of code which only runs when it is called.
* You can pass data (parameter), into a function and function can return data as a result.
* A function is defined using the **def** keyword.

In [50]:
def my_function(value):
    if value == 0:
        return 'Number is zero.'
    elif value > 0:
        return 'Number is positive.'
    else:
        return 'Number is negative.'

In [51]:
my_function(0)

'Number is zero.'

In [52]:
my_function(10)

'Number is positive.'

In [53]:
my_function(-2)

'Number is negative.'

In [55]:
def my_function2(country="Spain"):
     print("I am from " + country)

my_function2("Sweden")
my_function2("Croatia")
my_function2()
my_function2("Germany")

I am from Sweden
I am from Croatia
I am from Spain
I am from Germany

In [57]:
def my_function3(n):
    return lambda i: i*n

doubler = my_function3(2)
tripler = my_function3(3)
val = 11
print('Double: {}. Triple: {}'.format(doubler(val), tripler(val)))

Double: 22. Triple: 33

* Find more information [here](https://www.w3schools.com/python/python_functions.asp).

<div class="alert alert-info" role="alert">
    **Exercise:** Generate one function.
</div>

<a id='Classes'></a>
### Classes

* The way of defining **classes** is also very similar.
* It should be taken into account that all the definitions of interior functions of the class must carry **'this'** (or **'self'**) as the first parameter.

In [58]:
class My_first_class():
    
    def __init__(self):
            #All classes have a function called __init__(), which is always executed when the class is being initiated.
            #Use the __init__() function to assign values to object properties
        self.class_id = 0
        self.age = 0
        self.tall = 0
        self.name = '-'
    
    def add_values(self, new_id, new_age, new_tall, new_name):
        self.class_id = 'id: ' + new_id + '; '
        self.age = new_age +' years' + '; '
        self.tall = new_tall + ' m' + '; '
        self.name = new_name
        
    def change_name(self, value):
        self.name = value
        
    def print_class(self):
        print(self.class_id, self.age, self.tall, self.name)

* Next we use the elements of the class.

In [59]:
example = My_first_class()
example.print_class()

print('----')
example.add_values('12345', '50', '1.6', 'Antonio')
example.print_class()
print('----')
example.add_values('10', '25', '1.7', 'Marco')
example.change_name('José')
example.print_class()

0 0 0 -
----
id: 12345;  50 years;  1.6 m;  Antonio
----
id: 10;  25 years;  1.7 m;  José

* Find more information [here](https://www.w3schools.com/python/python_classes.asp).

<div class="alert alert-info" role="alert">
    **Exercise:**  Invent one class that contains more than three local variables. 
</div>